body{
    margin: 0px;
    outline: 0 !important;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: monospace;
    font-size: 23px;
}
img{
    display: block;
    max-width: 100%;
}
.slide-wrapper{
    overflow: hidden;
}
.slide{
    display: flex;
}
.slide li{
    flex-shrink: 0;
    width: 80vw;
    max-width: 800px;
    margin: 0 20px;
    opacity: .7;
    transform: scale(.5);
    transition: ease-in-out .3;
}

.slide li.active{
    opacity: 1;
    transform: scale(.9);
    transition: ease-in-out .3;
}
.arrow-nav{
   text-align: center;
}
.arrow-center{
    display: flex;
    justify-content: space-around;
}
.arrow-center button{
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
.arrow-center button:focus{
    border-color: transparent;
}